.custom-footer *{
    background-color: #4c5b61 !important;
    color: #f9f8f8 !important;
    text-align: left;
    padding: 10px 10px;
    margin-top: 0px;
    font-size: 14px;
    display: flex;
}

.custom-footer .container {
    flex-direction: column;
}

.row {
    flex-direction: column;
}

@media(min-width:666px) {
    .row {
        flex-direction: row !important;
    }
    .custom-footer .container {
        flex-direction: row !important;
    }
    .list-unstyled .li {
        padding: 0 !important;
    }

}

.col-md-4 {
    flex-direction: column;
}

.list-unstyled {
    /* background-color: #4c5b61 !important;
    color: #f9f8f8 !important; */
    flex-direction: column;
    padding-left: 0;
    list-style: none;
}

.custom-footer a {
    /* background-color: #4c5b61 !important;
    color: #f9f8f8 !important; */
    text-decoration: none;
}

.custom-footer a:hover {
    /* background-color: #4c5b61 !important; */
    color: #2dbcc1 !important;  /* accent on hover */
    text-decoration: none;
}

.custom-footer p {
    /* background-color: #4c5b61 !important;
    color: #dddddd; */
    margin: 0;
}