.custom-footer.py-4{
    background-color: #4c5b61 !important;
}

.custom-footer *{
    background-color: #4c5b61 !important;
    color: #f9f8f8 !important;
    text-align: left;
    padding: 10px 10px;
    margin-top: 0px;
    font-size: 20px;
    display: flex;
}

.custom-footer .container {
    flex-direction: column;
}

.row {
    background-color: #4c5b61 !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 0 !important;
}

@media(min-width: 992px) {
    .row {
        flex-direction: row !important;
    }
    .custom-footer .container {
        flex-direction: row !important;
    }
    .list-unstyled .li {
        padding: 0 !important;
    }

}

.col-md-4 {
    flex-direction: column;
}

.list-unstyled {
    /* background-color: #4c5b61 !important;
    color: #f9f8f8 !important; */
    flex-direction: column;
    padding-left: 0;
    list-style: none;
}

.custom-footer a {
    /* background-color: #4c5b61 !important;
    color: #f9f8f8 !important; */
    text-decoration: none;
    white-space: break-spaces;
}

.custom-footer a:hover {
    /* background-color: #4c5b61 !important; */
    color: #2dbcc1 !important;  /* accent on hover */
    text-decoration: none;
}

.custom-footer p {
    /* background-color: #4c5b61 !important;
    color: #dddddd; */
    margin: 0;
}

.mt-3 {
    align-self: flex-end;
    justify-self: center;
}   

a.nav-logo {
    padding: 0;
}
.link {
    width: 1.7rem;
}