.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dimmed background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000; /* Higher than everything */
    backdrop-filter: blur(3px); /* Nice blur effect */
}

.modal-box {
    padding: 30px;
    border-radius: 16px;
    width: 70%;
    max-width: 720px;
    height: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-h3 {
    margin: 0 0 1rem 0 !important;
    font-size: 28px;
    color: #4c5b61;
}

.modal-close-btn {
    color: #4c5b61;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    line-height: 1;
    margin-left: 0px;
}
.modal-close-btn:hover {
    color: #2dbcc1;
}
/* Tabs */
.modal-tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.tab {
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #888;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
}

.tab.active {
    color: #4c5b61;
    border-bottom: 3px solid #2dbcc1; /* WhatsApp Green */
}

/* Form Styles */
.form-group {
    margin: 1rem auto !important;
    text-align: left;
    color: #213638;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}
input[type="text"]{
    width: 100%;
    padding: 0.55rem 0.75rem;
    border-radius: 16px;
    border: 1px solid #e3e3e3;
    background: #fafafa;
    box-sizing: border-box;
    font-size: 18px;
    color: #4c5b61;
}
input[type="text"]::placeholder {
    color: #999999; 
}
input:focus {
    outline: none;
    border-color: #2dbcc1;
    box-shadow: 0 4px 14px rgba(45,188,193,0.08);
}
.pickup-info {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.btn-confirm-modal {
    background: #2dbcc1;
    color: white;
    border: none;
    padding: 0.9rem 1.8rem 1rem 1.8rem !important;
    border-radius: 16px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    transition: background 0.3s;
}
.btn-confirm-modal:hover {
    background-color: #27a1a6;
}
