.products-grid {
    display: grid;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    max-width: 100%;
    box-sizing: border-box;
}

.products-h4 {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    color: #4c5b61;
    top: 107px;
    font-weight: 600;
    font-size: 34px;
    border-bottom: #4c5b61 1px;
    font-weight: 700;
    font-style: italic !important;
    justify-self: center;
    padding: 33px 0;
}

hr {
    box-shadow: 10px 4px 14px rgba(45, 188, 193, 0.08);
}
.row {
    margin: 0 !important;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1rem;
    width: 100%;
    padding: 0 0 2rem 0;
    justify-items: stretch;
    align-items: stretch;
    grid-auto-rows: 1fr;
    box-sizing: border-box;
}

/* tablet breakpoint */
@media (min-width: 768px) {
    .grid-container {
        gap: 1.2rem;
    }
}

/* desktop breakpoint */
@media (min-width: 1200px) {
    .grid-container {
        gap: 1.75rem;
        padding-bottom: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    }
}

.whatsapp-float {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 15px;
    background-color: transparent; 
    color: transparent;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: bottom 0.001s ease-out, transform 0.01s ease-in-out
}

.whatsapp-float:hover {
    transform: scale(1.005); /* Slight zoom on hover */
    background-color: none;
}
