.custom-footer {
    background-color: #4c5b61 !important;
    color: #f9f8f8 !important;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    font-size: 14px;
}

.custom-footer .container {
    background-color: #4c5b61 !important;
    color: #f9f8f8 !important;
}
.custom-footer .container .row{
    background-color: #4c5b61 !important;
    color: #f9f8f8 !important;
}

.row .col-md-4 {
    background-color: #4c5b61 !important;
    color: #f9f8f8 !important;
}

.custom-footer h5 {
    background-color: #4c5b61 !important;
    color: #f9f8f8 !important;
    font-weight: 600;
}

.custom-footer a {
    background-color: #4c5b61 !important;
    color: #f9f8f8 !important;
    text-decoration: none;
}

.custom-footer a:hover {
    background-color: #4c5b61 !important;
    color: #2dbcc1 !important;  /* accent on hover */
    text-decoration: underline;
}

.custom-footer p {
    background-color: #4c5b61 !important;
    margin: 0;
    color: #dddddd;
}