html,
body {
    height: auto;
    margin: 0 !important;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "EB Garamond", serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    letter-spacing: .02em;
    background-color: #f9f8f8;
}
.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-main {
    position: static;
    flex: 1 1 auto;
    display: block;
    z-index: 0;
    overflow: visible;
}

* {
    -webkit-tap-highlight-color: transparent;
}

button:active, a:active {
    transform: scale(0.98); /* Slight shrink */
    opacity: 0.8;           /* Slight fade */
    transition: 0.1s;
}